<!-- <div class=" jumbotron" style="padding:45px 0px">
    <h4 class="text-center">Waiting List</h4>
</div>

<div class="input-group">
    <input type="text" class="form-control" #itemTitle>
   <div class="input-group-addon hover-cursor"(click)="onAdd(itemTitle)">
        <i class="fa fa-plus-circle fa-2x" style="padding:4px 15px"></i>
    </div>
</div>
 
<div style=" margin:5px 0px">
    <ul class="list-group">
        <li class=" list-group-item" *ngFor="let item of toDoListArray">
            {{item.title}}
            <span class=" hover-cursor text-danger pull-right"(click)="onDelete(item.$key)">
                <i class="fa fa-trash-o fa-lg"></i>
            </span> 
        </li>
    </ul>
</div>  
 -->

 
    <div style=" margin:5px 0px">
        <ul class="list-group">
            <li class=" list-group-item" style="font-size:30px"  *ngFor="let item of toDoListArray">
                {{item.item_name}}
                {{item.date}}
                <span class=" hover-cursor text-danger pull-right"(click)="onDelete(item.$key)">
                     <i class="fa fa-trash-o fa-lg"></i>
                </span> 
            </li>
        </ul>
    </div>  

        <!-- <script>
            function myFunction() {
                if (document.getElementById("radio-restaurant").checked){
                    document.getElementById("button").innerHTML 

                } else if (document.getElementById("radio-hotel").checked){
                    document.getElementById("button").innerHTML = "<a href='./hotel.html'>Submit</a>"
                }
            }
            </script> -->